.player-container {
  position: absolute;
  height: 100px;
  width: 660px;
  bottom: 30px;
  left: 26px;
}

.wp-comment-placeholder {
  position: absolute;
  width: 657px;
  height: 30%;
  bottom: 1px;
}

.wp-comment-streak {
  content: '';
  position: absolute;
  height: 38px;
  bottom: 0;
  left: 0;
  width: 1px;
  display: block;
  background-image: linear-gradient(rgba(255,85,0,.95),rgba(255,85,0,.1));
  animation-name: streak-reveal;
  animation-duration: 0.25s;
}

.wp-comment {
  position: absolute;
  bottom: -5px; 
  /*This is the one I want to engage with...*/
  left: 9px;
  animation-name: comment-drop;
  animation-duration: 0.1s;
}

.wp-comment-user {
  display: inline-block;
  color: #f50;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.wp-comment-text {
  display: inline-block;
  color: #fff;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  margin-left: 10px;
}

.wp-waveform {
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes streak-reveal {
  0% {opacity: 0.1};
 100% {opacity: 1};
}

@keyframes comment-drop {
  0% {bottom: 2px; opacity: 0};
  100% {bottom: -5px; opacity: 1};
}
