.waveform-player-wrapper {
  position: absolute;
  /* border: 1px solid red;*/
  height: 380px;
  width: 1080px;
  background-image: linear-gradient(135deg, white, grey);
}

.fixed-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cursor:hover {
  cursor: pointer;
}

.info-container {
  position: absolute;
  text-align: right;
  top: 26px;
  left: 550px;
  height: 63px;
  width: 150px;
}

.title-container {
  position: absolute;
  /* border: 2px solid yellow;*/
  top: 26px;
  left: 26px;
  height: 63px;
  width: 490px;
}

.player-container {
  position: absolute;
  /* border: 2px solid black;*/
  height: 100px;
  width: 660px;
  bottom: 30px;
  left: 26px
}

.art-container {
  position: absolute;
  /* border: 2px solid orange;*/
  height: 340px;
  width: 340px;
  right: 20px;
  bottom: 20px;
  z-index: 3px;
}

.wp-artist {
  position: absolute;
  /* border: 2px solid blue;*/
  /* width: 82px;*/
  height: 19px;
  left: 77px;
  top: -7px;
  background-color: rgba(0,0,0,.8);
  font-weight: 100;
  color: #ccc;
  font-family: "Lucida Grande";
  font-size: 16px;
  font-weight: 100;
  padding: 2px 7px 3px 7px;
  z-index: 2;
}

.wp-artist:hover {
  color: #fff;
}

.wp-title {
  position: absolute;
  /*border: 2px solid green;*/
  /* width: 122;*/
  position: absolute;
  height: 34;
  left: 77px;
  bottom: 0px;
  background-color: rgba(0,0,0,.8);
  line-height: 37px;
  font-size: 24px;
  font-weight: 100;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: #fff;
  padding: 4px 7px 4px 7px;
}

.wp-playbutton {
  position: absolute;
  /* border: 2px solid #e1b926;*/
  border-radius: 100%;
  height: 65px;
  width: 65px;
  background-color: #f50
}

.wp-playbutton:hover {
  background-color: #f63618;
}

.wp-play {
  position: absolute;
  background-color: white;
  height: 60%;
  width: 70%;
  top: 19.5%;
  left: 6%;
  -webkit-clip-path: polygon(42% 0%, 100% 50%, 42% 100%, 56% 50%);
  clip-path: polygon(42% 0%, 96% 50%, 42% 100%, 56% 50%);
}

.wp-pause1 {
  position: absolute;
  background: white;
  height: 55%;
  width: 14%;
  top: 14px;
  left: 21px;
}

.wp-pause2 {
  position: absolute;
  background: white;
  height: 55%;
  width: 14%;
  top: 14px;
  left: 35px;
}

.wp-date {
  position: absolute;
  /* border: 2px solid blue;  */
  /* width: 150px;*/
  height: 22px;
  right: 0px;
  font-size: 16px;
  font-weight: 100px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: #fff;
}

.wp-genre-hash {
  position: absolute;
  /* border: 2px solid grey;*/
  /* width: 99px;*/
  vertical-align: middle;
  height: 22px;
  right: 0px;
  bottom: 0px;
  border-radius: 13px;
  text-align: center;
  color: #fff;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-size: 16px;
  font-weight: 100px;
  background: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  padding-left: 7px;
  padding-right: 7px;
}

.wp-genre-hash:hover {
  background: #666;
}
.wp-waveform {
  position: absolute;
  height: 100%;
  width: 100%;
}

.wp-comment-placeholder {
  position: absolute;
  /* border: 2px solid blue;*/
  width: 657px;
  height: 30%;
  bottom: 1px;
}

.wp-comment-streak {
  content: '';
  position: absolute;
  height: 38px;
  bottom: 0;
  left: 0;
  width: 1px;
  display: block;
  background-image: linear-gradient(rgba(255,85,0,.95),rgba(255,85,0,.1));
}

.wp-comment {
  position: absolute;
  bottom: -5px;
  left: 9px;
}

.wp-comment-user {
  display: inline-block;
  color: #f50;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.wp-comment-text {
  display: inline-block;
  color: #fff;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  margin-left: 10px;
}
